@charset "UTF-8";

body {
	font-family: 'Arial', sans-serif;
	background-color: #f0f8ff; /* light blue background */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color: #ffffff; /* white form box */
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 300px;
}

h1 {
	text-align: center;
	color: #333333;
	margin-bottom: 20px;
}

input[type=text], input[type=number] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #04AA6D;
	color: white;
	padding: 12px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

input[type=submit]:hover {
	background-color: #04AA6D;
	transition: 0.3s;
}